.todo-page-box {
  width: 500px; /* Set your desired width */
  height: 700px; /* Set your desired height */
  overflow: auto;
}

.todo-page-container {
  padding: 20px;
}

.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #0056b3;
}

.summary {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.pending,
.completed {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}

.todo {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.todo p {
  margin: 0;
}

.todo p.description {
  font-size: 16px;
  margin-bottom: 5px;
}

.todo p.status {
  font-size: 14px;
  color: #777;
}

.todo p.completed {
  color: green;
}

.todo p.pending {
  color: red;
}
