/* todoPage.css */
.todoPage {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  max-height: 600px; /* Set maximum height */
  overflow-y: auto; /* Enable vertical scrolling */
}

.title-container {
  display: flex;
  justify-content: space-between; /* Align title and button to opposite ends */
  align-items: center; /* Align items vertically */
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.back-button {
  background-color: #007bff; /* Example color */
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.back-button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

.summary {
  font-size: 16px;
  margin-bottom: 10px;
  color: #555;
}

.pending,
.completed {
  font-size: 18px;
  font-weight: bold;
  margin-top: 30px;
}

.todo {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.todo p {
  margin: 0;
}

.todo p.description {
  font-size: 16px;
  margin-bottom: 5px;
}

.todo p.status {
  font-size: 14px;
  color: #777;
}

.todo p.completed {
  color: green;
}

.todo p.pending {
  color: red;
}
